
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Logo eye</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, 
    rem aliquam. Deleniti recusandae veritatis aliquam, 
    accusantium rem nam cupiditate doloribus, adipisci nulla ipsam commodi nihil,
    dolorem magnam libero cum odio.</p>

    <div class="col-4">
        <img src="assets/imgs/digital-eye-logo.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}